/* stylel.css*/

/*Large Desktop*/
@media (min-width:1200px){
    body{
        padding-left: 50px;
        padding-right: 50px;
        background-color: green;
        }  
}

/*Portrait tablet to landscape and Desktop*/
 @media (min-width:768px) and (max-width:1199px){
    body{
          padding-left: 30px;
        padding-right: 30px;
        background-color:purple;
        }
 }
 
 /* Landscape phone to portrait tablet*/
 @media (min-width:768px) and (max-width:767px){
    body{
          padding-left: 10px;
        padding-right: 10px;
        background-color:rgb(18, 18, 19);
        }
 }

body {
    background-color: rgb(206, 17, 38)
    ;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#wrap {/*#faire appel a un id dans le html*/
    margin: auto;
    padding:0px;
    width: 960px;  
}
    
header {
        background-color: rgb(206, 17, 38);
        height: 150px;
        margin: 0px;
        padding: 0px;
}
h1 {
        color: #0a090a;
        font-family: Papyrus,"Comic Sans MS", Tahoma, Verdana;
        font-size: 6em;
        padding-top: 0%;
        margin: 0px;
        
}
nav {
        height: 68px;
        background-color: rgb(252, 252, 252);
        }
    nav ul {
        list-style-type: none;
        margin: 0px;
        padding-top: 1.2%;
    }
    nav ul li {
        display: inline-block;
        margin-left: 13px;
        margin-right: 13px;
    }
        nav ul li a {
            color: rgb(7, 6, 6); 
            font-size: 1.5em;
            text-decoration: underline;
            font-family: tahoma, Verdana, Anel, Calibri;
        }
        nav ul li a:hover {
            color: rgb(76, 0, 255);
        }
        
       
        
        
       
        
main {
    background-color: #030303;
    padding: 30px;
    vertical-align: top;
    }
    main h2{
        color: rgba(245, 0, 0, 0.925);
        font-family: "Britanic Bold","Comic Sans MS", Tahoma,Arial;
        font-size: 2em;
        margin: 0px;
    }
    
    main p {
        text-align: justify;
        color: #faf7f8;
        font-family: Verdana, Tahona, Calibri, Arial;
        font-size: 1em;
        margin: 20px;
    }
    main .intro { /*appel la classe intro*/
        color: #ccf809;
        font-family: Times New Roman, Helvetica;
        font-size: 1.2em;
          text-align: right;
    }
    main .film {
        text-align: center;
    }
    
    main .film iframe {
        display: inline-block;
        width: 450px;
        height: 253px;
    }
    
    main .film p {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        padding-left: 30px;
    }
    main .colonne {
        display: inline-block;
        width: 48%;
     background-color: beige;
        font-size: 2em;
        text-align: center;
    }
    .faq{
        background-color: rgb(195, 243, 243);
        display: block;
        color:rgb(10, 9, 9);
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        text-align: left;
        padding-top:1px;
        padding-bottom:1px;
        

    }
    .infos{
        background-color: rgb(195, 243, 243);
        display: inline-block;
        color:rgb(10, 9, 9);
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        text-align: left;
        padding-top:1px;
        padding-bottom:1px;
        text-decoration: underline;
        

    }
    
    
    
    